*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/bin/
/test-output/
/build/
/target/
/.idea/
/out/
/.scannerwork/
/.sonar/
mqjms.log.0
/.jpb/
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
